{% extends 'base.html.twig' %}

{% block title %}Registrierung erfolgreich{% endblock %}

{% block body %}
    <h1>Registrierung erfolgreich</h1>
    <p>Deine Registrierung wurde erfolgreich eingegangen. Bitte warte auf die Freischaltung durch einen Administrator (Nadja).</p>
    <p>Du wirst benachrichtigt, sobald dein Konto aktiviert wurde.</p>
{% endblock %}