{# templates/ingredient/template.html.twig #}
<div class="flex-row">
    <input type="text" class="form-control" id="ingredient" name="ingredient-name" value="{{ ingredient.name|default('') }}">
    <input type="text" class="form-control" id="ingredient" name="ingredient-amount" value="{{ ingredient.amount|default('') }}">
    <input type="text" class="form-control" id="ingredient" name="ingredient-amount-type" value="{{ ingredient.amountType|default('') }}">

</div>