{# templates/ingredient/template.html.twig #}
<div class="flex-row ingredient">
    <input type="text" class="form-control"  name="ingredient-name" value="{{ ingredient.name|default('') }}">
    <input type="text" class="form-control"  name="ingredient-amount" value="{{ ingredient.amount|default('') }}">
    <input type="text" class="form-control" name="ingredient-amount-type" value="{{ ingredient.amountType|default('') }}">
    <input type="hidden" class="form-control ingredient-id" name="ingredient-id" value="{{ ingredient.id|default(0) }}">
</div>