/* define colours */
:root
{
    --black: #000920;
    --dark-grey: #101729;
    --light-grey: #3f424b;
    --white: #ffffff;
    --primary: #e74f4e;
    --secondary: #589b9b;
    --tertiary: #a9cdc5;

    --bodyfont: 'Nunito', sans-serif;
    --headingfont: 'Montserrat', sans-serif;

    --content-width: 1200px;

}

body
{
    background-color: var(--black);
    color: var(--tertiary);
    font-family: var(--bodyfont);
    margin: 0px;
    padding: 0px;
}

h1
{
    font-family: var(--headingfont);
    color: var(--primary);
    font-size: 54px;
    margin: 0px 0px 20px 0px;
}

h2
{
    font-family: var(--headingfont);
    color: var(--tertiary);
    font-size: 32px;
    margin: 0px 0px 20px 0px;
}

h3
{
    font-family: var(--headingfont);
    color: var(--tertiary);
    font-size: 18px;
    margin: 0px 0px 20px 0px;
}
.content
{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 20px;
}

nav a
{
    color: var(--tertiary);
    text-decoration: none;
    margin-right: 8px;
}

nav a:hover
{
    color: var(--secondary);
}

nav li
{
    display: inline;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-wrapper
{
    width: var(--content-width);
    margin: 0 auto;
}

.recipe-container
{
    background-color: var(--dark-grey);
    padding: 20px;
    margin: 16px 0px;
    border-radius: 4px;
}
