/* define colours */
:root
{
    --black: #000920;
    --dark-grey: #101729;
    --light-grey: #3f424b;
    --white: #ffffff;
    
    /* Dracula */
    /* --primary: #ff79c6;
    --secondary: #f1fa8c;
    --tertiary: #50fa7b;
    --background: #282a36;
    --bodyfont-color: #f8f8f2; */

    /* 
    Blue and yellow
    --primary: #fda821;
    --secondary: #76c9f1;
    --tertiary: #006ab1;
    --background: #07122e; */

    /* 
    Old one
    --primary: #e74f4e; 
    --secondary: #589b9b; 
     --tertiary: #a9cdc5; */

    /* Colourful */
    /* --primary: #e67626;
    --secondary: #cf1bce;
    --tertiary: #4e32ae;
    --background: #040211;
    --bodyfont-color: #e67626; */

    /** Red and cyan */
    
    --primary: #f8713b;
    --secondary: #1fc5a3;
    --tertiary: #407688;
    --background: #060322;
    --bodyfont-color: #adced9;


    --tertiary-50: #a9cdc550;
    --tertiary-25: #a9cdc525;
    --error: #e74f4e;

    --headingfont:  "Red Hat Display", sans-serif;
    --bodyfont: 'Nunito', sans-serif;

    --content-width: 1200px;

}

body
{
    background-color: var(--background);
    color: var(--bodyfont-color);
    font-family: var(--bodyfont);
    margin: 0px;
    padding: 0px;
}

h1
{
    font-family: var(--headingfont);
    color: var(--secondary);
    font-size: 36px;
    margin: 0px 0px 20px 0px;
}

h2
{
    font-family: var(--headingfont);
    color: var(--bodyfont-color);
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

h3
{
    font-family: var(--headingfont);
    color: var(--bodyfont-color);
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}
.content
{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 20px;
}

nav a
{
    color: var(--tertiary);
    text-decoration: none;
    margin-right: 8px;
}

nav a:hover
{
    color: var(--secondary);
}

nav li
{
    display: inline;
}

nav ul
{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    font-family: var(--headingfont);
    font-weight: 600;
}

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-wrapper
{
    width: var(--content-width);
    margin: 0 auto;
}

.tile
{
    /* background-color: var(--tertiary-25); */
    /* padding: 20px; */
    margin: 16px 0px;
    border-radius: 4px;
}

button
{
    background-color: var(--primary);
    color: var(--black);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--headingfont);
    font-weight: 600;
    font-size: 16px;
    margin: 8px 4px;
}

button:last-child
{
    margin-right: 0px;
}

button:hover
{
    box-shadow: 0px 0px 8px 0px var(--primary);
}
button.ghost{
    background-color: transparent;
    color: var(--tertiary);
    border: 1px solid var(--primary);
}

button.ghost:hover
{
    box-shadow: 0px 0px 8px 0px var(--primary);
}

button.secondary
{
    background-color: var(--secondary);
}

button.secondary:hover
{
    box-shadow: 0px 0px 8px 0px var(--secondary);
}

button.secondary.ghost
{
    background-color: transparent;
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
}

button.secondary.ghost:hover
{
    color: var(--secondary);
    border: 1px solid var(--secondary);
    box-shadow: 0px 0px 8px 0px var(--secondary);
}

.tile .header-area
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile .header-area h2
{
    margin-right: 16px;
}

.tile .header-area .button-area
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/**Forms**/

label
{
    color: var(--bodyfont-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: block;
}

input, textarea
{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--tertiary);
    margin: 4px 4px;
    background: none;
    width: -moz-available;
    color: var(--bodyfont-color);
    font-family: var(--bodyfont);
    font-size: 16px;
}

.recipe-image
{
    width: 100%;
    height: 300px;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 32px;
}

textarea
{
    resize: vertical;
}

textarea.xl
{
    height: 300px;

}

input.is-invalid, textarea.is-invalid
{
    border: 1px solid var(--error);
}

input:not(:last-child),
textarea:not(:last-child)
{
    margin-right: 8px;
}

.form-group
{
    margin: 16px 0px;
}

form
{
    margin: 16px 0px;
    position: relative;
}

.flex-row
{
    display: flex;
/*     justify-content: space-between;
    align-items: center; */
}
.flex-row.end
{
    justify-content: flex-end;
}

.flex-row.align-center
{
    align-items: center;
}

.btn-minus, .btn-plus
{
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 32px;
    height: 32px;
}

.btn-minus:hover, .btn-plus:hover
{
    box-shadow: 0px 0px 8px 0px var(--secondary);
}


/* Admin Dashboard */

.admin-table
{
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td
{
    padding: 16px;
}

.admin-table th
{
    background-color: var(--tertiary);
    color: var(--black);
}

.admin-table tr:nth-child(even)
{
    background-color: var(--tertiary-25);
}

.admin-table tr:hover
{
    background-color: var(--tertiary-50);
}

.admin-table tr
{
    text-align: left;
}

.admin-table .recipe-image
{
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 4px;
}

.admin-table .button-area
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}