{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <p>Das ist ein automatisches Rezept</p>
        {{output}}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </div>

{% endblock %}