<nav>
    <div class="nav-wrapper">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/newRecipe">Neues Rezept</a></li>
            <li><a href="#">Über das Projekt</a></li>
        </ul>
    </div>
</nav>
