{# templates/components/base_tile.html.twig #}
<div class="tile">
    <div class="row header-area">
        <div>
            <h2 class="heading-font">{{ this.title }}</h2>
        </div>
        <div class="button-group">
            {% for button in this.buttons %}
                {{ button }}
            {% endfor %}
        </div>
    </div>
    <div class="row content-area">
        {{ this.content }}
    </div>
</div>
